{% extends 'core/base.html'%}

{% block header %}Password Generator{% endblock %}
{% block content %}
    <form class="my-2" action="{% url 'password' %}">
        <label for="length">Select the length for your password: </label>
        <select name="length" id="lenght">
            <option value="8">8 Characters</option>
            <option value="9">9 Characters</option>
            <option value="10">10 Characters</option>
            <option value="11">11 Characters</option>
            <option value="12">12 Characters</option>
            <option value="13">13 Characters</option>
            <option value="14">14 Characters</option>
        </select>
        <div class="form-check form-switch my-2">
            <label class="form-check-label" for="uppercase">Uppercase</label>
            <input class="form-check-input" type="checkbox" id="uppercase" name="uppercase">
        </div>
        <div class="form-check form-switch my-2">
          <label class="form-check-label" for="numbers">Number</label>
          <input class="form-check-input" type="checkbox" id="numbers" name="numbers">
        </div>
        <div class="form-check form-switch my-2">
          <label class="form-check-label" for="special">Special Characters</label>
          <input class="form-check-input" type="checkbox" id="special" name="special">
        </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-lg btn-primary">Generate</button>
        </div>
    </form>
{% endblock %}